.lists .list {
	padding: 8px 0 8px 8px;
	background-color: #ebecf0;
	min-width: 272px;
	max-width: 272px;
	max-height: 100%;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	position: relative;
}

.lists .list .list-title {
	font-weight: 600;
	padding: 8px;
	cursor: pointer;
}

.lists .list .rename-list {
	max-width: 220px;
	padding: 6px 8px;
	border: none;
	outline: 2px solid #0079bf;
	border-radius: 3px;
}

.lists .list .cards {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: #002970;
	padding-right: 4px;
	margin-right: 4px;
	max-height: calc(100vh - 44px - 57px - 76px);
	overflow-y: auto;
}

.lists .list .cards::-webkit-scrollbar {
	-webkit-appearance: none;
}

.lists .list .cards::-webkit-scrollbar:vertical {
	width: 6px;
}

.lists .list .cards::-webkit-scrollbar-thumb {
	background-color: rgba(100, 100, 111, 0.2);
	border-radius: 3px;
}

.lists .list .card {
	background-color: white;
	border-radius: 3px;
	display: flex;
	box-shadow: 0 8px 8px -4px rgb(188, 193, 194);
}

.lists .list .card p {
	padding: 10px 0 10px 8px;
}

.lists .list .card .icons {
	margin-right: 6px;
	display: flex;
	align-items: center;
}

.lists .list .add-card {
	cursor: pointer;
}

.lists .list .open-add-card {
	padding: 8px;
	display: flex;
	gap: 8px;
	color: #5e6c84;
	border: none;
	width: 100%;
	cursor: pointer;
}

.lists .list .open-add-card:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.lists .list textarea {
	background-color: white;
}

.lists .list .btn-add-card {
	background-color: #0079bf;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 8px 12px;
}

.lists .list .btn-add-card:hover {
	background-color: #0079bfd3;
}

.lists .list .row {
	margin-top: 8px;
}

.lists .list .add-card .fa-xmark {
	color: #6b778c;
	font-size: 2.2rem;
	margin-left: 12px;
}

.lists .list .add-card .fa-xmark:hover {
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.lists .list .fa-ellipsis {
	position: absolute;
	right: 6px;
	top: 6px;
	color: gray;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}

.lists .list .fa-ellipsis:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.lists .list .open-list-actions {
	margin-top: -8px;
}

.lists .list .list-actions {
	position: absolute;
	z-index: 5;
	background-color: #fff;
	right: -200px;
	top: 46px;
	min-width: 240px;
	font-size: 1.5rem;
	padding: 12px 0;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 3px;
}

.lists .list .list-actions-title {
	text-align: center;
	padding: 6px;
}

.lists .list .list-actions-detail {
	display: flex;
	flex-direction: column;
	color: gray;
}

.lists .list-actions .vertical {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin: 6px 12px;
}

.lists .list .list-actions-detail span {
	padding: 8px 12px;
	cursor: pointer;
}

.lists .list .list-actions-detail span:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
}

.lists .list .list-actions .fa-xmark {
	position: absolute;
	right: 12px;
	font-size: 1.4rem;
	padding: 6px;
	border-radius: 3px;
	cursor: pointer;
}

.lists .list .list-actions .fa-xmark:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.lists .list.add-list {
	flex-direction: row;
	align-items: center;
	font-size: 1.4rem;
	color: #fff;
	padding: 12px 16px;
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	height: fit-content;
}

.lists .list.add-list:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

/* ---------------------Add list------------------ */
.lists .new-list {
	padding: 4px;
	background-color: #ebecf0;
	border-radius: 3px;
	min-width: 272px;
	height: fit-content;
}

.lists .new-list input {
	width: 100%;
	padding: 6px 8px;
	border: 2px solid #0079bf;
	border-radius: 3px;
	margin-bottom: 4px;
	outline: none;
}

.lists .new-list .btn-add-list {
	background-color: #0079bf;
	border: none;
	border-radius: 3px;
	padding: 8px 12px;
	color: #fff;
}

.lists .new-list .btn-add-list:hover {
	background-color: #0079bfd3;
}

.lists .new-list .fa-xmark {
	margin-left: 12px;
	font-size: 2.2rem;
}

.card-ghost {
	transition: transform 0.18s ease;
	transform: rotateZ(5deg);
	font-weight: bolder;
}

.card-ghost-drop {
	transition: transform 0.18s ease-in-out;
	transform: rotateZ(0deg);
}

.card-drop-preview {
	background-color: rgba(150, 150, 200, 0.1);
	border: 1px dashed #abc;
	margin: 5px;
}
