html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden],
template {
	display: none;
}
a {
	background: transparent;
}
a:active,
a:hover {
	outline: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
}
.select-container {
	display: inline-block;
	margin: 0 0 1.2em;
	padding: 0;
	position: relative;
}
.select-container select {
	background: none;
	border: 2px solid #edeff0;
	position: auto;
	height: 100%;
	width: auto;
	padding: 0.5em;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.select-container select::-ms-expand {
	display: none;
}
.select-container select:focus {
	background: none;
}
.select-container::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 6px;
	background-image: url("https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/3a15a346421a08419648c0ca2f5e98b2/caret.svg");
	width: 12px;
	height: 12px;
	padding: 6px;
	-webkit-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}
html {
	font-family: "jaf-facitweb", "Helvetica Neue", Arial, sans-serif;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.44em;
}
html.wf-loading body {
	visibility: hidden;
}
body.bidi-highlight span[data-bidi-char] {
	display: inline !important;
}
body.bidi-highlight span[data-bidi-char]::before {
	display: inline;
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: isolate;
	background-color: #f2d600;
	color: hsl(0, 0%, 30%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: underline;
	content: "<" attr(data-bidi-char) ">";
}
::-moz-selection {
	background: hsl(202, 92%, 85%);
	text-shadow: none;
}
::selection {
	background: hsl(202, 95%, 62%);
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid hsl(0, 0%, 80%);
	margin: 1em 0;
	padding: 0;
}
audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
h1 {
	font-size: 1.777em;
	line-height: 1.2em;
	margin-top: 1.6em;
}
h2 {
	font-size: 1.422em;
	line-height: 1.2em;
	margin-top: 1.6em;
}
h3,
h4,
h5,
h6 {
	font-size: 1em;
	line-height: 1.2em;
	margin-top: 1.6em;
}
.small {
	font-size: 0.8em;
}
a {
	color: hsl(202, 40%, 55%);
}
a:hover {
	color: hsl(202, 50%, 30%);
}
.quiet {
	color: hsl(0, 0%, 60%);
}
a.quiet,
.quiet a {
	color: hsl(0, 0%, 60%);
}
a.quiet:hover,
.quiet a:hover {
	color: hsl(0, 0%, 20%);
}
blockquote {
	padding-left: 1em;
	border-left: 1px solid #dcdcdc;
	margin-left: 1em;
}
label {
	display: block;
	margin: 0 0 0.4em;
}
textarea,
input {
	display: block;
}
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
	background: #edeff0;
	border-radius: 4px;
	border: 1px solid #cdd2d4;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.5em;
	max-width: 400px;
	width: 100%;
}
textarea:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover {
	border-color: #b6bbbf;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
	border-color: #a5acb0;
	outline: none;
	box-shadow: 0 0 6px #cdd2d4;
}
textarea.error,
input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
input[type="number"].error {
	background: #fbedeb;
	border: 1px solid #ec9488;
}
textarea.error:focus,
input[type="text"].error:focus,
input[type="email"].error:focus,
input[type="password"].error:focus,
input[type="number"].error:focus {
	box-shadow: 0 0 6px #ec9488;
}
input[type="button"]:focus,
input[type="submit"]:focus {
	outline: black dotted 1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="button"]:focus,
	input[type="submit"]:focus {
		outline: -webkit-focus-ring-color auto 5px;
	}
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}
.button {
	background: #cdd2d4;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#cdd2d4),
		to(#c4c9cc)
	);
	background: linear-gradient(to bottom, #cdd2d4 0%, #c4c9cc 100%);
	border-radius: 0.3em;
	box-shadow: 0 2px 0 hsl(0, 0%, 30%);
	color: hsl(0, 0%, 30%);
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0.8em;
	padding: 0.6em 1.3em;
	position: relative;
	text-decoration: none;
	border: 0px;
}
.button:not([disabled]):focus,
.button:not([disabled]):hover {
	background: #c4c9cc;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#c4c9cc),
		to(#b6bbbf)
	);
	background: linear-gradient(to bottom, #c4c9cc 0%, #b6bbbf 100%);
	color: hsl(0, 0%, 30%);
}
.button:not([disabled]):active {
	background: #b6bbbf;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#b6bbbf),
		to(#a5acb0)
	);
	background: linear-gradient(to bottom, #b6bbbf 0%, #a5acb0 100%);
	color: hsl(0, 0%, 30%);
}
.button[disabled] {
	background: #e2e4e6;
	box-shadow: none;
	color: hsl(0, 0%, 55%);
	cursor: default;
}
.button-green {
	background: #61bd4f;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#61bd4f),
		to(#5aac44)
	);
	background: linear-gradient(to bottom, #61bd4f 0%, #5aac44 100%);
	box-shadow: 0 2px 0 #3f6f21;
	color: #fff;
}
.button-green:not([disabled]):focus,
.button-green:not([disabled]):hover {
	background: #5aac44;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#5aac44),
		to(#519839)
	);
	background: linear-gradient(to bottom, #5aac44 0%, #519839 100%);
	color: #fff;
}
.button-green:not([disabled]):active {
	background: #519839;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#519839),
		to(#49852e)
	);
	background: linear-gradient(to bottom, #519839 0%, #49852e 100%);
	color: #fff;
}
.button.mod-wide {
	padding-right: 1.7em;
	padding-left: 1.7em;
}
.outline-link {
	border: 1px solid;
	border-radius: 0.3em;
	display: inline-block;
	margin: 0.6em 0;
	padding: 0.6em 1em;
	text-decoration: none;
}
.header-nav {
	padding: 1em 0.75em 0;
}
.header-nav-link,
.header-nav-link:visited {
	border: 1px solid hsla(0, 0%, 0%, 0.45);
	border-radius: 0.3em;
	color: hsla(0, 0%, 0%, 0.45);
	display: inline-block;
	font-size: 0.8em;
	padding: 0.4em 1.2em;
	margin: 0 0.25em 0.25em;
	text-decoration: none;
	vertical-align: top;
}
.header-nav-link:hover {
	border-color: hsl(0, 0%, 30%);
	color: hsl(0, 0%, 30%);
}
.header-nav-left {
	float: left;
}
.header-nav-right {
	float: right;
}
.body-header-nav-dark-background .header-nav-link {
	border-color: hsla(0, 0%, 100%, 0.9);
	color: hsla(0, 0%, 100%, 0.9);
}
.body-header-nav-dark-background .header-nav-link:hover {
	background-color: hsla(0, 0%, 100%, 0.2);
	border-color: hsla(0, 0%, 100%, 0.9);
	color: hsl(0, 0%, 100%);
}
.header-nav-iconed {
	padding: 24px;
}
.header-nav-iconed .header-nav-icon {
	border-radius: 3px;
	padding: 0 8px;
	width: 32px;
}
.header-nav-iconed .header-nav-link {
	border: none;
	border-radius: 3px;
	color: inherit;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	padding: 8px 12px;
}
.header-nav-iconed .header-nav-icon,
.header-nav-iconed .header-nav-link {
	background: #e2e4e6;
	display: inline-block;
	height: 32px;
}
.header-nav-iconed .header-nav-icon:hover,
.header-nav-iconed .header-nav-link:hover {
	background-color: #d6dadc;
}
pre,
code {
	background: hsl(0, 0%, 90%);
	border-radius: 4px;
	padding: 0.2em 0.4em;
}
code {
	display: inline-block;
}
section {
	overflow: hidden;
	padding: 0 1em;
	word-wrap: break-word;
}
section img {
	display: block;
	margin: 1em auto;
	max-width: 100%;
}
section h1:first-child,
section h2:first-child,
section h3:first-child,
section h4:first-child,
section h5:first-child,
section h6:first-child {
	margin-top: 1em;
}
.section-wrapper {
	max-width: 540px;
	margin: 0 auto;
}
.page-fine-print section {
	font-size: 16px;
	line-height: 1.44em;
}
.section-background-blue {
	background: #0079bf;
	color: #fff;
}
.section-background-blue a {
	color: hsla(0, 0%, 100%, 0.8);
}
.section-background-blue a:hover {
	color: #fff;
}
.section-background-faded-blue {
	background-color: #e4f0f6;
}
.section-background-gold {
	background-color: #edeff0;
	background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/68369975a2dc2deec3d9d233ccf82ae3/gold-backgrounds-ocean.png);
	background-size: cover;
	background-position: center;
}
.section-background-gold a {
	color: hsla(0, 0%, 30%, 0.8);
}
.section-background-gold a:hover {
	color: hsl(0, 0%, 30%);
}
.section-background-gray {
	background-color: #edeff0;
}
.section-background-business-class {
	background: #42548e;
	color: #fff;
}
.section-background-business-class a:not(.button) {
	color: hsla(0, 0%, 100%, 0.8);
}
.section-background-business-class a:not(.button):hover {
	color: #fff;
}
.section-recommend-banner {
	background: #faf3c0;
	padding: 1em;
	text-align: center;
}
.section-recommend-banner-text {
	margin: 0;
}
.section-recommend-banner-image {
	height: 30px;
	width: 30px;
	vertical-align: top;
}
footer {
	font-size: 0.8em;
	margin: 4em 1em;
	text-align: center;
}
footer ul {
	list-style: none;
	margin: 0.5em 0 0;
	padding: 0;
}
footer li {
	display: inline-block;
	margin: 0 0.4em;
}
footer li a,
footer li a:visited {
	color: hsl(0, 0%, 60%);
}
footer p {
	margin: 0.5em 0;
}
.inline-image {
	display: inline-block;
	height: 24px;
	margin: 0;
	width: 24px;
	vertical-align: text-top;
}
.rounded-corners {
	border-radius: 4px;
}
.text-center {
	text-align: center;
}
.inline-block {
	display: inline-block;
}
.display-show-large {
	display: none;
}
.error-message {
	color: #ff5555;
	border-radius: 4px;
	display: block;
	height: 22px;
	text-align: left;
}
.info-message {
	border-radius: 4px;
	background: #faf3c0;
	border: 1px solid #f2d600;
	display: inline-block;
	padding: 0.5em 1em;
}
#atlassian-link,
.atlassian-link {
	color: #298fca;
	font-size: 18px;
	text-decoration: underline;
	cursor: pointer;
}
#atlassian-link:hover {
	color: #0c3953;
}
@media only screen and (min-width: 650px) {
	section {
		padding: 2em 1em;
	}
}
@media only screen and (min-width: 900px) {
	html {
		font-size: 20px;
	}
	section {
		padding: 4em 1em;
	}
	section img {
		max-width: initial;
	}
	.section-wrapper {
		margin: 0 auto;
		max-width: 1300px;
	}
	.layout-grid-frame {
		margin: 0 auto;
		max-width: 890px;
		position: relative;
	}
	.layout-twothirds-center {
		display: block;
		max-width: 585px;
		margin: 0 auto;
		position: relative;
	}
	.layout-twothirds-left {
		max-width: 585px;
	}
	.layout-twothirds-right {
		margin-left: 315px;
		width: 585px;
	}
	.display-show-large {
		display: inline-block;
	}
	.layout-callout-far-right,
	.layout-callout-far-left,
	.layout-callout-right,
	.layout-callout-left {
		position: absolute;
		top: -3em;
	}
	.layout-callout-right {
		left: 640px;
	}
	.layout-callout-left {
		right: 640px;
	}
	.layout-callout-up3 {
		top: -6em;
	}
	.layout-callout-up2 {
		top: -5em;
	}
	.layout-callout-up1 {
		top: -4em;
	}
	.layout-callout-down1 {
		top: -2em;
	}
	.layout-callout-down2 {
		top: -1em;
	}
	.layout-callout-down3 {
		top: 0;
	}
	.layout-section-tall {
		padding: 6em 1em;
	}
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}
.atlassian-brand {
	background-color: #f9fafc;
	font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	justify-content: center;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	font-size: 14px;
	text-align: center;
}
.atlassian-brand .inner-section {
	width: 100%;
	padding: 0px;
	overflow: visible;
	margin-bottom: 30px;
}
.atlassian-brand .inner-section .section-wrapper {
	max-width: 400px;
}
.atlassian-brand .inner-section .tos {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 16px;
	color: #5e6c84;
}
.atlassian-brand .inner-section a {
	text-decoration: none;
	color: #0052cc;
}
.atlassian-brand .inner-section a:hover,
.atlassian-brand .inner-section a:hover:visited {
	color: #0052cc;
	text-decoration: underline;
}
.atlassian-brand .inner-section .account-button {
	margin-bottom: 0;
	width: 100%;
}
.atlassian-brand .inner-section .account-form {
	background-color: #ffffff;
	border-radius: 3px;
	padding: 25px 40px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
.atlassian-brand .inner-section .account-form .login-method-separator {
	text-align: center;
	font-size: 12px;
	line-height: 1;
	margin-top: 16px;
	margin-bottom: 16px;
}

.atlassian-brand .inner-section .account-form textarea,
.atlassian-brand .inner-section .account-form input[type="text"],
.atlassian-brand .inner-section .account-form input[type="email"],
.atlassian-brand .inner-section .account-form input[type="password"],
.atlassian-brand .inner-section .account-form input[type="button"],
.atlassian-brand .inner-section .account-form input[type="submit"],
.atlassian-brand .inner-section .account-form .select-container,
.atlassian-brand .inner-section .account-form .select-container select {
	width: 100%;
}
.atlassian-brand .inner-section .account-form .button-green {
	box-shadow: none;
}
.atlassian-brand .inner-section .account-form .button-green:not(:disabled) {
	background: #5aac44;
}
.atlassian-brand
	.inner-section
	.account-form
	.button-green:not(:disabled):hover {
	background: #61bd4f;
}
.atlassian-brand .inner-section .account-form .button-blue {
	font-size: 14px;
	height: 40px;
	box-shadow: none;
	font-weight: normal;
	border-radius: 3px;
	-webkit-transition: background-color 0.2s ease-in-out 0s;
	transition: background-color 0.2s ease-in-out 0s;
}
.atlassian-brand .inner-section .account-form .button-blue:not([disabled]) {
	color: white;
	background: #0052cc;
}
.atlassian-brand
	.inner-section
	.account-form
	.button-blue:not([disabled]):hover,
.atlassian-brand
	.inner-section
	.account-form
	.button-blue:not([disabled]):focus,
.atlassian-brand
	.inner-section
	.account-form
	.button-blue:not([disabled]):active {
	background: #0065ff;
}
.atlassian-brand .inner-section .account-form .button-blue[disabled] {
	background: #f5f6f7;
	color: rgba(9, 30, 66, 0.36);
}
.atlassian-brand .inner-section .account-form .oauth-button {
	background: #fff;
	color: rgba(0, 0, 0, 0.54);
	box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
	border-color: transparent;
	text-align: center;
	border-radius: 3px;
	width: 99%;
	height: 39px;
	padding-top: 0;
	margin-bottom: 12px;
	display: block;
	text-decoration: none;
	-webkit-transition: background-color 0.2s ease-in-out 0s,
		border-color 0.2s ease-in-out 0s;
	transition: background-color 0.2s ease-in-out 0s,
		border-color 0.2s ease-in-out 0s;
}
.atlassian-brand .inner-section .account-form .oauth-button:hover {
	background-color: #f9fafc;
	text-decoration: none;
}
.atlassian-brand .inner-section .account-form .oauth-button:active {
	background: #eee;
	border: 2px solid #cdd2d4;
}
.atlassian-brand .inner-section .account-form .oauth-button span.label {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: inherit;
	font-weight: bold;
	color: #505f79;
	padding: 3px;
	height: 32px;
	line-height: 32px;
}
.atlassian-brand .inner-section .account-form .oauth-button span.icon {
	display: inline-block;
	border-radius: 1px;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
.atlassian-brand .inner-section .account-form #google-icon {
	background: url("https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg")
		0 50% no-repeat;
}
.atlassian-brand .inner-section .account-form #facebook-icon {
	background: url("https://upload.wikimedia.org/wikipedia/commons/b/b8/2021_Facebook_icon.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	vertical-align: -6px;
}
.atlassian-brand .inner-section .account-form .toggle-preferred-login {
	margin-top: 16px;
	text-align: center;
}
.atlassian-brand .inner-section .bottom-form-link {
	text-align: center;
	font-size: 14px;
	display: block;
	padding: 0;
	margin-top: 28px;
}
.atlassian-brand .inner-section .bottom-form-link.smaller-links {
	font-size: 12px;
}
.atlassian-brand .inner-section .bottom-form-link li {
	display: inline-block;
	list-style: none;
}
.atlassian-brand .inner-section .bottom-form-link li:not(:first-child)::before {
	content: "\2022";
	margin: 0 8px 0px 4px;
}
.atlassian-brand .inner-section .form-field-label {
	font-size: 12px;
	color: #5e6c84;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: -7px;
}
.atlassian-brand .inner-section .form-field {
	font-size: 14px;
	background-color: #fafbfc;
	border: 2px solid #dfe1e6;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	height: 40px;
	-webkit-transition: background-color 0.2s ease-in-out 0s,
		border-color 0.2s ease-in-out 0s;
	transition: background-color 0.2s ease-in-out 0s,
		border-color 0.2s ease-in-out 0s;
}
.atlassian-brand .inner-section .form-field:focus {
	background-color: white;
	border: 2px solid #4c9aff;
	box-shadow: 0 0 0;
}
.atlassian-brand .inner-section h1 {
	text-align: center;
	color: #5e6c84;
	font-size: 16px;
	letter-spacing: -0.01em;
	line-height: 28px;
	margin-top: 10px;
	margin-bottom: 25px;
}
.atlassian-brand .inner-section h4 {
	text-align: center;
	color: #5e6c84;
	font-size: 14px;
	letter-spacing: -0.006em;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 8px;
}
.atlassian-brand .inner-section hr {
	margin-top: 25px;
}
.atlassian-brand .inner-section p {
	line-height: 1.333;
}
.atlassian-brand .inner-section .sso-subtitle {
	margin-top: -16px;
	text-align: center;
}
.atlassian-brand .background {
	z-index: -900;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
.atlassian-brand .background .rightLarge {
	position: absolute;
	width: 400px;
	bottom: 0;
	right: 0;
	z-index: -999;
	max-width: 30%;
}
.atlassian-brand .background .leftLarge {
	position: absolute;
	width: 400px;
	bottom: 0;
	left: 0;
	z-index: -999;
	max-width: 30%;
}
.atlassian-brand .global-footer {
	margin-bottom: 24px;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
}
.atlassian-brand .global-footer a {
	text-decoration: none;
	color: #5e6c84;
}
.atlassian-brand .global-footer a:hover,
.atlassian-brand .global-footer a:hover:visited {
	text-decoration: underline;
	color: #5e6c84;
}
.atlassian-brand .global-footer .select-container {
	background-color: transparent;
}
.atlassian-brand .global-footer .select-container select {
	color: #5e6c84;
}
.atlassian-brand .global-footer hr {
	max-width: 400px;
	margin: 25px auto;
}
.atlassian-brand .global-footer .global-footer-list {
	max-width: 45%;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width: 640px) {
	.atlassian-brand {
		background-color: white;
	}
	.atlassian-brand .background {
		display: none;
	}
	.atlassian-brand .inner-section .account-form {
		border-color: transparent;
		box-shadow: 0 0 0 transparent;
		border-radius: 0;
		padding-top: 10px;
	}
	.atlassian-brand .global-footer .global-footer-list {
		max-width: none;
	}
}
label {
	font-weight: 300;
}
.error-message {
	border-radius: 4px;
	margin: 4px 0 0;
	font-size: 12px;
}
.username-readonly {
	position: relative;
}
.atlassian-brand .username-readonly input.form-field {
	background-color: transparent;
	border-color: transparent;
}
.atlassian-brand .username-readonly:hover input.form-field {
	background: #fafbfc;
	border-color: #f4f5f7;
}
.atlassian-brand .username-readonly button {
	background: transparent;
	border: none;
	position: absolute;
	padding: 5px;
	right: 0;
	top: 0;
}

h1.title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
}

h1.title span {
	font-size: 4rem;
	font-weight: 700;
	color: #0777e8;
}

h1.title svg {
	font-size: 3rem;
}
