.cards .card {
	position: relative;
}

.cards .card .card-name {
	cursor: pointer;
	width: 100%;
}

.cards .card .card-name:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.cards .card:hover .icons .card-name-edit {
	display: block;
}

.cards .card .icons .card-name-edit {
	display: none;
	padding: 6px;
	border-radius: 3px;
	cursor: pointer;
}

.cards .card .icons .card-name-edit:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.cards .card .icons {
	position: absolute;
	right: 0;
	top: 4px;
}

.cards .card .overlay {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cards .card .card-option {
	position: fixed;
	z-index: 2;
}

.cards .card .card-option .rename-card {
	width: 256px;
}

.cards .card .card-option .btn-save-card {
	margin-top: 6px;
	padding: 10px 20px;
	background-color: #0079bf;
	border: none;
	border-radius: 3px;
	color: #fff;
}

.cards .card .card-option .btn-save-card:hover {
	background-color: #038cdb;
}

.cards .card .card-actions {
	margin-left: 8px;
}

.cards .card .card-action {
	background-color: rgba(0, 0, 0, 0.4);
	color: #ddd;
	padding: 8px 12px;
	border-radius: 3px;
	margin-bottom: 6px;
	cursor: pointer;
	display: flex;
	gap: 8px;
	transition: left 2s;
	cursor: pointer;
}

.cards .card .card-action:hover {
	position: relative;
	color: #fff;
	left: 6px;
}

.cards .smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
	overflow: visible;
}
